APP_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_NAME=BuildToValue
DB_USER=BuildToValue
DB_PASSWORD=changeme
REDIS_HOST=localhost
ENVIRONMENT=dev
FEATURE_MOCK_DATA=false
FEATURE_RATE_LIMIT=true
FEATURE_CACHE=true
